.icon:hover {
  cursor: pointer;
  z-index: 11;
}

/* Banner */
.header_container {
  width: 100%;
  height: 50vh;
  top: 0;
  left: 0;
  position: absolute;
  box-shadow: 0px 0px 100em black;
  
  z-index: 1;
}

.header_container img {
  width: 100%;
  height: 50vh;

  z-index: 1;
}

/* Catalogo de Filmes */
.catalogo {
  width: 100%;
  height: 100%;
  padding: 5em;
  color: #FFFFFF;
  margin-top: 40vh;
  background: linear-gradient(to top, #1F222F, #1B1E2C 100%);
  
  z-index: 0;
}

/* Carrossel */
.carrossel_container {
  width: 100%;
}

.session_title {
  font-size: 40px;
  margin-bottom: 0.5em;
}

.movie_card {
  width: 100%;
}

.movie_image {
  width: 100%;
}

.legend {
  font-family: 'Tw Cen MT', sans-serif;
  font-size: 25px;
}

.genre-container {
  margin-bottom: 6em;
}