* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Noto Sans", sans-serif;
}

body {
  background: linear-gradient(to top, #1F222F, #1B1E2C 98%);
  z-index: 1;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}